*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #323437;
} 

.table{
    display: grid;
    color:white;
    margin-top: 15%;
    margin-left: 7%;
    height: 40vh;
    width: 85%;
    color:#c8c7bd;
}

th{
    font-size: 80%;
}

.header{
    color:#c8c7bd;
    margin-top:25%;
    max-width: 45vh;
    margin-left: 7%;
}
.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    width: 100%;
}
.nav span{
    color:#c8c7bd;
}
#logo{
    font-size: 4vh;
    color:#e0b513;
}

.filter-time{
    background-color:#2c2e31;
    color:#c8c7bd;
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a{
    text-decoration: none;
    color:#c8c7bd;
}

a:hover, .nav span:hover{
    font-weight: bold;
    color:#e0b513;
    
}