* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #323437;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 90%;
    margin-left: 20%;
    margin-right: 20%;
}

#username{
    margin-bottom: 5%;
    background-color: #2c2e31;
    color: #c8c8be;
    border: none;
    height: 4vh;
    border-radius: 10px;
}
#password{
    margin-bottom: 10%;
    background-color: #2c2e31;
    color: #c8c8be;
    border: none;
    height: 4vh;
    border-radius: 10px;

}
input::placeholder {
    color: #606265;
    font-weight: bold;
    padding-left: 7%;
}

form button{
    background-color: #2c2e31;
    color: #c8c8be;
    border: none;
    font-weight: bold;
    font-size: 20px;
    height: 4vh;
    border-radius: 10px;
    padding-bottom: 2%;
}

form button:hover{
    color: #606265;
    background-color: #c8c8be;
    
}

span{
    margin-right: 2% ;

}