* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #323437;
  color: #e2b714;
  font-family: "JetBrains Mono", monospace;
}

/* TOP BAR */
.topbar {
  height: 56px;
  background: #2c2e31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
}

.top-icons {
  display: flex;
  gap: 18px;
  color: #777;
  font-size: 16px;
}

.top-icons a {
  text-decoration: none;
  color: #e2b714;
}


.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  background: #e2b714; /* monkey yellow */
  padding: 4px;
  border-radius: 6px;
}

.icon img {
  height: 30px;          /* Monkeytype-like size */
  width: auto;
  vertical-align: middle;
  opacity: 0.85;         /* subtle, not too loud */
}

.logo .name {
  color: #e2b714;
}

/* MAIN */
.container {
  max-width: 700px;
  margin: 80px auto;
}

/* BIG STATS */
.big-stats {
  display: flex;
  gap: 80px;
  margin-bottom: 40px;
}

.big {
  display: flex;
  flex-direction: column;
}

.big .value {
  font-size: 64px;
  font-weight: 700;
}

.label {
  color: #777;
  font-size: 13px;
}

/* GRID STATS */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;
}

.stat {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

/* ACTION BUTTONS */
.actions {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.actions button {
  background: none;
  border: none;
  color: #777;
  font-size: 26px;
  cursor: pointer;
}

.actions button:hover {
  color: #e2b714;
}
