{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/auth.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <title>Login / Register</title>
</head>
<body>

<div class="auth-container">
    <div class="auth-box">
        <h2>
            <span class="material-symbols-outlined">person_add</span>
            register
        </h2>

        <div class="field">
            <input type="text" placeholder="username" id="signUp-user">
        </div>

        <div class="field">
            <input type="email" placeholder="email" id="signUp-email">
        </div>

        <div class="field">
            <input type="password" placeholder="password" id="signUp-pass-1">
        </div>

        <div class="field">
            <input type="password" placeholder="verify password" id="signUp-pass-2">
            <p class="error" id="signUp-error">passwords do not match</p>
        </div>

        <button class="primary-btn" id="signUp-btn">
            <span class="material-symbols-outlined">person_add</span>
            sign up
        </button>
    </div>

    
    <div class="auth-box">
        <h2>
            <span class="material-symbols-outlined">login</span>
            login
        </h2>

        <div class="field">
            <input type="text" placeholder="username" id="signIn-user">
        </div>

        <div class="field">
            <input type="password" placeholder="password" id="signIn-pass">
            <p class="error" id="signIn-error">Invalid credentials</p>
        </div>

        <button class="primary-btn" id="signIn-btn">
            <span class="material-symbols-outlined">login</span>
            sign in
        </button>
    </div>

</div>
<script src="{% static 'main/auth.js' %}"></script>
</body>
</html>
