{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/leaderboards.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <title>leaderboards</title>
</head>
<body>
    <div class="nav">
        <a href="#">
            <span class="material-symbols-outlined" id="logo">
            keyboard_full
            </span>
        </a>
        <a href="#" title="start test">
            <span class="material-symbols-outlined" id="keyboard-icon">
            keyboard
            </span>
        </a>
        <a href="#" title="leaderboards">
            <span class="material-symbols-outlined">
            crown
            </span>
        </a>
        <a href="#" title="about us">
            <span class="material-symbols-outlined">
            info_i
            </span>
        </a>
        <a href="#" title="profile">
            <span class="material-symbols-outlined">
            account_box
            </span>
        </a>
        <a href="#" title="logout">
            <span class="material-symbols-outlined">
            logout
        </span>
        </a>
    </div>
    <div class="filter-time">
        <div id="filter-header">filter by time</div>
        <div class="time-all"><a href="#">all</a></div>
        <div class="time-15"><a href="#">15s</a></div>
        <div class="time-30"><a href="#">30s</a></div>
        <div class="time-60"><a href="#">60s</a></div>
    </div>
    <h1 class="header">HiLCoE Leaderboards</h1>
    <div class="table" border="1" >
        <table>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>wpm</th>
                <th>accuracy</th>
                <th>date</th>
                <th>time</th>
            </tr>
            {% for score in scores %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{score.user.username}}</td>
                <td>{{score.wpm}}</td>
                <td>{{score.accuracy|floatformat:0}}%</td>
                <td>{{score.date|date:"m-d-Y"}}</td>
                <td>{{score.time}}s</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{% static 'main/leaderboards.js' %}"></script>
</body>
</html>