{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monkeytype Result</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <link rel="stylesheet" href="{%static 'main/stat.css'%}">
</head>
<body>
{% block body %}
<header class="topbar">
  <div class="logo">
    <span class="icon"><img src="{% static 'main/monkey.jpg' %}" alt="monkeytype icon"></span>
    <span class="name">monkeytype</span>
  </div>

  <div class="top-icons">
    <a title="leaderboard" href="{% url 'leaderboards'%}">
      <span class="material-symbols-outlined">
          crown
      </span>
    </a>
    <a title="about" href="https://monkeytype.com/about">
      <span class="material-symbols-outlined">
        info_i
      </span>
    </a>
    <a title="profile" href="#">
      <span class="material-symbols-outlined">
      account_box
      </span>
    </a>
    <a title="logout" href="{%url 'logout'%}">
      <span class="material-symbols-outlined">
          logout
      </span>
    </a>

  </div>
</header>

<!-- MAIN CONTENT -->
<main class="container">

  <!-- BIG STATS -->
  <div class="big-stats">
    <div class="big">
      <span class="label">wpm</span>
      <span id="wpm" class="value">{{wpm}}</span>
    </div>
    <div class="big">
      <span class="label">acc</span>
      <span id="acc" class="value">{{accuracy}}%</span>
    </div>
  </div>

  <!-- SMALL STATS -->
  <div class="stats-grid">
    <div class="stat">
      <span class="label">test type</span>
      <span id="testType">{{category}} . {{language}}</span>
    </div>

    <div class="stat">
      <span class="label">correct words</span>
      <span id="correct-words">{{correct_words}}</span>
    </div>

    <div class="stat">
      <span class="label">characters</span>
      <span id="characters">{{characters}}</span>
    </div>

    <div class="stat">
      <span class="label">incorrect words</span>
      <span id="incorrect_words">{{incorrect_words}}</span>
    </div>

    <div class="stat">
      <span class="label">time</span>
      <span id="time">{{time}}s</span>
    </div>

    <div class="stat">
      <span class="label">other</span>
      <span id="other">valid</span>
    </div>
  </div>

  
  <div class="actions">
    <button id="next" title="next test">➜</button>
  </div>

</main>

<script src="{%static 'main/stat.js'%}"></script>
{% endblock %}
</body>
</html>
